.navigation-bar {
  display: flex;
  height: 58px;
  margin-bottom: 1px;
  border-width: 1px;
  border-color: black;
  background-color: #FD5F22;
  align-items: center; }

.nav-section {
  display: flex;
  height: 58px;
  margin-bottom: 1px;
  background-color: #FD5F22;
  justify-content: space-evenly; }
