.contact-list.show {
  display: block; }

.contact-list.hide {
  display: none; }

.toggle-mask {
  height: 2000px;
  width: 100%;
  position: absolute;
  top: 0; }

.search-bar {
  display: inline-block;
  z-index: 10;
  margin-left: 150px; }

.search-bar button {
  height: 100%; }

.search-filter {
  height: 100%; }
