@keyframes show-search-contacts {
  0% {
    visibility: hidden;
    width: 0px;
    height: 0px;
    margin-top: 0px; }
  100% {
    width: 576px;
    height: 250px;
    margin-top: 5px; } }

@keyframes collapse-search-contacts {
  0% {
    width: 576px;
    height: 250px;
    margin-top: 5px; }
  100% {
    width: 0px;
    height: 0px;
    margin-top: 0px;
    visibility: hidden; } }

.contact-list {
  display: table; }

.contact-list.show {
  display: block; }

.contact-list.hide {
  display: none; }

.contact-list.search-bar {
  animation-name: show-search-contacts;
  animation-duration: 500ms;
  position: absolute;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 5px;
  margin-left: 0px;
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #c4c0c0;
  box-shadow: 0px 0px 3px #c4c0c0;
  width: 584px;
  height: 250px; }

.contact-list.search-bar .contact {
  height: 20%; }

.contact-list.search-bar.hide {
  animation-name: collapse-search-contacts;
  animation-duration: 500ms;
  animation-fill-mode: forwards; }

.contact {
  display: flex;
  height: 50px;
  padding-left: 5px;
  cursor: pointer; }

.contact img {
  height: 100%;
  object-fit: contain; }

.contact:hover {
  background-color: #c4c0c0; }

.contact:hover button {
  background-color: #c4c0c0; }

.contact-profile {
  width: 90%;
  display: flex; }

.contact-profile img {
  padding-right: 3px;
  padding-top: 2px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  object-fit: cover; }

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.user-info span {
  display: block; }

.user-info .username {
  font-size: 12px; }

.user-info .user-address {
  font-size: 11px; }
