@keyframes show-contacts {
  0% {
    width: 15%; }
  100% {
    width: 30%; } }

@keyframes collapse-contacts {
  0% {
    width: 30%; }
  100% {
    width: 15%; } }

@keyframes focus {
  0% {
    background-color: #fdc4ad; }
  100% {
    background-color: #ffffff; } }

@keyframes unfocus {
  0% {
    background-color: #ffffff; }
  100% {
    background-color: #fdc4ad; } }

.search-bar {
  display: inline-block;
  z-index: 10;
  width: 15%;
  border: none;
  position: relative;
  height: 50%;
  margin-left: 20px; }

.search-bar.focused {
  animation-name: show-contacts;
  animation-duration: 500ms;
  animation-fill-mode: forwards; }
  .search-bar.focused .search-filter {
    animation-name: focus;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    width: 90%; }
  .search-bar.focused > button {
    animation-name: focus;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    width: 10%; }
  .search-bar.focused > button:hover {
    background-color: #dddddd; }

.search-bar.unfocused {
  animation-name: collapse-contacts;
  animation-duration: 500ms;
  animation-fill-mode: forwards; }
  .search-bar.unfocused .search-filter {
    animation-name: unfocus;
    animation-duration: 500ms;
    animation-fill-mode: forwards; }
  .search-bar.unfocused > button {
    animation-name: unfocus;
    animation-duration: 500ms;
    animation-fill-mode: forwards; }

.search-filter {
  height: 100%;
  width: 80%;
  background-color: #fdc4ad;
  border: none;
  padding: 0px;
  padding-left: 10px; }
