$light-gray: #dddddd;
$white: #ffffff;
$orange: #FD5F22;
$transparent-orange: #fdc4ad;

@keyframes show-contacts {
  0% {
    width: 15%;
  }
  100% {
    width: 30%;
  }
}

@keyframes collapse-contacts {
  0% {
    width: 30%;
  }
  100% {
    width: 15%;
  }
}


@keyframes focus {
  0% {
    background-color: $transparent-orange;
  }
  100% {
    background-color: $white;
  }
}

@keyframes unfocus {
  0% {
    background-color: $white;
  }
  100% {
    background-color: $transparent-orange;
  }
}

.search-bar {
  display: inline-block;
  z-index: 10;
  width: 15%;
  border: none;
  position: relative;
  height: 50%;
  margin-left: 20px;

}

.search-bar.focused {
  animation-name: show-contacts;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  
  .search-filter {
      animation-name: focus;
      animation-duration: 500ms;
      animation-fill-mode: forwards;
      width: 90%;
  }

  >button {
    animation-name: focus;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    width: 10%;
  }

  >button:hover {
    background-color: $light-gray;
  }
}

.search-bar.unfocused {
  animation-name: collapse-contacts;
  animation-duration: 500ms;
  animation-fill-mode: forwards;

  .search-filter {
    animation-name: unfocus;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
  }

  >button {
    animation-name: unfocus;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
  }
}


.search-filter {
  height: 100%;
  width: 80%;
  background-color: $transparent-orange;
  border: none;
  padding: 0px;
  padding-left: 10px;
}
