.contact-list.show {
  display: block;
}

.contact-list.hide {
  display: none;
}

.toggle-mask {
  height: 2000px;

  width: 100%;

  position: absolute;

  top: 0;
}

.search-bar {
  position: absolute;

  display: inline-block;

  z-index: 10;
}
