$orange: #FD5F22;

.navigation-bar {
    display: flex;
    height: 58px;
    margin-bottom: 1px;
    border-width: 1px;
    border-color: black;  
    background-color: $orange;
    align-items: center;
}

.nav-section {
    display: flex;
    height: 58px;
    margin-bottom: 1px; 
    background-color: $orange;
    justify-content: space-evenly;
}