@keyframes button-shading {
  0% {
    background-color: #0078d7; }
  100% {
    background-color: #104a7d; } }

@keyframes show-menu {
  0% {
    opacity: 0; }
  100% {
    opacity: 100; } }

.drop-down.appMenu button {
  width: 80px;
  height: 80px;
  padding-left: 4px; }

.drop-down button {
  height: 80px;
  width: 160px;
  background-color: #0078d7;
  font-size: 20px;
  border: none; }

.drop-down button:hover {
  background-color: #104a7d;
  font-size: 20px;
  border: none;
  animation-name: button-shading;
  animation-duration: 2s; }

.drop-down.appMenu button img {
  max-width: 80%;
  max-height: 80%;
  margin-left: auto;
  margin-right: auto; }

.dropdown.hide {
  display: none; }

.dropdown.show {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  list-style-type: none;
  padding-left: 0px;
  margin-left: 2px;
  margin-top: 2px;
  border: 1px;
  border-style: solid;
  border-color: #c4c0c0;
  box-shadow: 0px 0px 5px #c4c0c0;
  background-color: #ffffff;
  width: 500px;
  height: 300px;
  justify-content: space-evenly;
  animation-name: show-menu;
  animation-duration: 500ms; }

.dropdown.show li {
  padding: 10px; }

.dropdown.show li button {
  height: 60px;
  width: 110px;
  background-color: #ffffff;
  padding-left: 8px; }

.dropdown.show li button:hover {
  animation: none;
  border: 1px;
  border-style: solid;
  border-color: #c4c0c0;
  box-shadow: 0px 0px 2px #c4c0c0; }
